<h2>Second Page</h2>
<a href = "/State/first?name=Sandhya&age=21">Go To First Page</a>
<form action="/state/second" method="POST">
    <input name="collegeName" type="hidden" value="MBM"> 
    <input type="submit" value="submit to second" />
</form>